# Python cache
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/
.env

# Editor
.vscode/

# Logs
logs/

# Data files
data/

# Vector database
rag/chorma_db/

# # Private config
# config/private.yaml

# Temp / checksum
md5.txt

# Prompts
prompts/